
<nav>

      
        
  <i class="fas fa-bars"></i>
 <div class="navDiv">
   <a href="/mifeed?pag=1">Mi feed</a>
    <a href="/search">Búsquedas</a>
    <a href="/Entries?pag=1">Feed general</a>
    <a href="/myEntries">Mis posts</a>
    <a href="/post">Escribir entrada</a>
    <a href="/myprofile/">Mi perfil</a>
    <a href="/logout">Cerrar sesión</a>
 </div>
 <img class="logoHeader" alt="Logo de la empresa" src="/media/tweethelp.png">

</nav>
