<form action="/search" method="post" class="search">
    <div class="searchSquare">
        <input type="text" name="search">
        <button type="submit" class="searchIcon">
            <img src="/media/searchicon.png" alt="search icon">
        </button>
    </div>
    
</form>