@charset "UTF-8";
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: #F0F8FB;
}
nav #login {
  cursor: pointer;
}
nav .fas {
  cursor: pointer;
}

main {
  margin: 0 auto;
}

header {
  background-color: #F0F8FB;
}

nav {
  position: relative;
}
nav .logoHeader {
  position: absolute;
  max-width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav i {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  color: #FF3D7B;
}
nav .navDiv {
  display: grid;
  position: absolute;
  max-height: 0;
  top: 41px;
  left: 22px;
  box-sizing: border-box;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  border-radius: 10px;
  background-color: white;
  text-decoration: none;
  color: #FF3D7B;
}
nav .navDiv a {
  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid black;
  background-color: #F0F8FB;
}
nav .navDiv a:hover {
  background-color: white;
  color: black;
}

.displayNone {
  max-height: 320px !important;
  border: 1px solid rgb(163, 163, 202);
  z-index: 10;
}

.displayHidden {
  display: none !important;
}

.loginSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.loginSection form {
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: 30px 200px 1fr;
  place-items: center;
  width: 290px;
  height: 438px;
  border-radius: 10px;
  position: relative;
  background-color: #F0F8FB;
}
.loginSection form .closeSymbol {
  grid-row: 1/2;
  grid-column: 2/3;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.loginSection form .closeSymbol:hover {
  transform: scale(1.2);
}
.loginSection form img {
  grid-row: 2/3;
  grid-column: 1/3;
  max-width: 191px;
}
.loginSection form .inputs {
  display: grid;
  place-items: center;
  grid-column: 1/3;
  grid-row: 3/4;
}
.loginSection form .inputs input {
  max-width: 235px;
  margin-top: 5px;
}

.opacStuff {
  opacity: 0.5;
}

.divSearch {
  width: 90%;
  max-width: 360px;
  display: grid;
  grid-template-columns: 1fr 50px;
  margin: 0 auto 30px auto;
  height: 50px;
}

.msg {
  display: block;
  text-align: center;
  width: auto;
  margin: 20px auto 0 auto;
}

.searchSquare {
  position: relative;
  width: 90%;
  max-width: 360px;
  margin: 0 auto;
  margin: 10px;
}
.searchSquare input[type=text] {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.searchSquare .searchIcon {
  position: absolute;
  right: 5px;
  top: 8px;
}
.searchSquare button,
.searchSquare button:hover {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.roundButton {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  max-height: 50px;
  font-size: 2.5rem;
  margin-top: 10px;
  background-color: #FF3D7B;
  cursor: pointer;
}

.newEntryButton {
  text-decoration: none;
  text-emphasis: none;
  color: white;
  max-height: 50px;
}

.roundButton:hover {
  background-color: #ffcc29;
}

.newEntryButton:hover {
  background-color: transparent;
}

.decorationNone {
  color: black;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.container {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 50px auto 150px 40px 70px;
  border-top: 1px solid #FF3D7B;
  border-bottom: 1px solid #FF3D7B;
  margin: 0 auto 0 auto;
  max-width: 370px;
  padding: 10px;
}
.container .topSideInfo {
  display: grid;
  grid-template-columns: 1fr 80px;
}
.container .topSideInfo .dateAndHashtag {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  font-size: 12px;
}
.container .topSideInfo .name {
  font-size: 20px;
  max-width: 130px;
  overflow: hidden;
}
.container .botSideInfo {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 80px;
  align-items: center;
  margin-top: 10px;
}
.container .botSideInfo .respuestas {
  position: relative;
}
.container .botSideInfo .respuestas span {
  position: absolute;
  margin: 0 0 5px 5px;
}
.container .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.container .content {
  grid-column: 1/3;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
}
.container .entryImage {
  grid-column: 1/3;
  grid-row: 3/4;
  width: 100%;
  height: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.pages {
  text-align: center;
  margin: 0 auto;
}
.pages .pageButton {
  display: inline-block;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #FF3D7B;
  text-decoration: none;
  color: white;
  margin: 20px;
  cursor: pointer;
  font-size: 22px;
}

.categories {
  width: 95%;
  border-radius: 10px;
  border: 2px solid #FF3D7B;
  margin: 10px auto;
  padding: 10px;
  background-color: #F0F8FB;
}
.categories .categoryTitle {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #FF3D7B;
  margin-bottom: 10px;
}
.categories .category {
  display: grid;
  grid-template-columns: 1fr 100px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.categories .category:hover {
  background-color: #ced7da;
}

.followedButton {
  width: 95%;
  border-radius: 10px;
  border: 2px solid #FF3D7B;
  margin: 10px auto;
  padding: 10px;
  background-color: #F0F8FB;
  grid-column: 1/3;
  text-align: center;
}

.unFollowedButton {
  width: 95%;
  border-radius: 10px;
  border: 2px solid #FF3D7B;
  margin: 10px auto;
  padding: 10px;
  background-color: #F0F8FB;
  grid-column: 1/3;
  text-align: center;
  background-color: #FF3D7B;
  color: white;
  cursor: pointer;
  transition: transform 0.3s, scale 0.3s;
}

.unFollowedButton:hover {
  transform: translateY(-5px) scale(1.1);
}

.unLoggedFollow {
  width: 95%;
  border-radius: 10px;
  border: 2px solid #FF3D7B;
  margin: 10px auto;
  padding: 10px;
  background-color: #F0F8FB;
  text-align: center;
  font-size: 0.8rem;
  grid-column: 1/3;
  transition: transform 0.3s, scale 0.3s;
  cursor: pointer;
}

.unLoggedFollow:hover {
  transform: translateY(-5px) scale(1.1);
  background-color: #F0F8FB;
}

.trendsTitle {
  display: block;
  margin: 15px 0 0 10px;
  font-weight: bolder;
}

.trends {
  margin-top: 20px;
  transition: transform 0.3s;
}
.trends .trendsContainer {
  display: grid;
  grid-template-rows: 20px 20px 20px;
  margin-top: 20px;
}
.trends .trendsContainer span {
  margin-left: 10px;
}
.trends .trendsContainer .trendTitle {
  font-weight: bolder;
}
.trends .trendsContainer .trendTitle .noDec {
  text-emphasis: none !important;
  text-decoration: none !important;
  color: black;
}
.trends .trendsContainer .trendCat {
  font-weight: bolder;
}
.trends .trendsContainer .trendCat .noDec {
  text-emphasis: none !important;
  text-decoration: none !important;
  color: rgba(53, 50, 50, 0.5098039216);
}
.trends .trendsContainer .trendPosts {
  color: rgba(53, 50, 50, 0.5098039216);
}

a:hover {
  background-color: #F0F8FB;
}

.trendSection {
  margin-bottom: 50px;
}

.gridFeedContainer {
  grid-template-rows: 50px auto 150px 40px;
}

.viewone {
  background-color: #F0F8FB;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
  width: 90%;
  max-width: 337px;
  border: 1px solid black;
}
.viewone .topSideInfo {
  display: grid;
  height: 80px;
  grid-template-columns: 30% 40% 30%;
}
.viewone .topSideInfo img {
  align-items: center;
  width: 100%;
  border-radius: 15px;
  max-height: 90px;
}
.viewone .viewOneImage {
  display: grid;
  place-items: center;
}
.viewone .dateAndCat {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(2, 1fr);
}
.viewone .dateAndCat .date {
  font-size: 15px;
}
.viewone .name {
  display: grid;
  align-items: start;
  font-size: 20px;
  padding: 10px;
}
.viewone h2 {
  font-size: 1rem;
  text-align: center;
  margin: 10px;
}
.viewone .entryImageOnView {
  margin: 20px auto 10px auto;
}
.viewone .entryImageOnView img {
  width: 100%;
  max-width: 337px;
  border-radius: 10px;
}

.titles {
  font-size: 2rem;
  text-align: center;
  margin: 10px;
}

.contentInfo {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.replies {
  background-color: #F0F8FB;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
  width: 90%;
  max-width: 337px;
  border: 1px solid black;
  text-align: center;
}
.replies .topSideReply {
  display: grid;
  grid-template-columns: 60px 1fr 90px;
}
.replies .topSideReply img {
  width: 100%;
  max-width: 63px;
  border-radius: 10px;
}
.replies .topSideReply .replyName {
  text-align: start;
  margin-left: 10px;
}
.replies .textInfo {
  margin: 0 auto;
}
.replies .botSideReply p {
  width: 90%;
  margin: 10px auto 0 auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.singleReply {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.singleReply .botSideReply {
  margin-bottom: 10px;
}

.signupForm {
  width: 300px;
  display: grid;
  align-items: center;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: #F0F8FB;
  margin: 30px auto 0 auto;
}
.signupForm input[type=submit] {
  margin-top: 42px;
}

input, textarea {
  padding: 10px;
  border: 2px solid #FF3D7B;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:hover, textarea:hover {
  border-color: #ffcc29;
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.3);
}

input:focus, textarea:hover {
  outline: none;
  border-color: #ff5722;
  box-shadow: 0 0 10px rgba(255, 87, 34, 0.5);
}

input::placeholder, textarea::placeholder {
  color: #999;
}

.button {
  padding: 8px 15px;
  background-color: #FF3D7B;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff9a8b;
}

.updateForm {
  width: 300px;
  display: grid;
  align-items: center;
  height: 700px;
  padding: 20px;
  border-radius: 10px;
  background-color: #F0F8FB;
  margin: 30px auto 0 auto;
}
.updateForm input[type=submit] {
  margin-top: 42px;
}
.updateForm textarea {
  height: 200px;
}

.backLink {
  margin-top: 20px;
  max-width: 224px;
  display: grid;
  margin: 40px auto 0 auto;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}
.backLink span {
  text-align: center;
}

.backLink:hover {
  transform: scale(1.2);
}

.replyForm {
  max-width: 337px;
  display: grid;
  align-items: center;
  height: 325px;
  padding: 20px;
  border-radius: 10px;
  background-color: #F0F8FB;
  margin: 30px auto 100px auto;
  border: 1px solid black;
}
.replyForm span {
  text-align: center;
}
.replyForm textarea {
  font-size: 20px;
  min-height: 100px;
}

.replySection {
  max-width: 337px;
  display: grid;
  align-items: center;
  height: 107px;
  padding: 20px;
  border-radius: 10px;
  background-color: #F0F8FB;
  margin: 30px auto 100px auto;
  border: 1px solid black;
}

.profileBox {
  position: relative;
  height: 100%;
  max-width: 360px;
  margin: 0 auto;
}
.profileBox .backgroundImage {
  width: 100%;
  max-width: 360px;
  border-bottom: 1px solid #FF3D7B;
}
.profileBox .avatarProfile {
  position: relative;
}
.profileBox .avatarProfile img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 100%;
  /* Centramos verticalmente */
  left: 20%;
  /* Centramos horizontalmente */
  transform: translate(-50%, -50%);
  /* Centramos completamente */
  z-index: 2;
  /* Aseguramos que esté por encima de .backgroundImage */
  border-radius: 50%;
  border: 2px solid white;
  max-width: 100px;
  max-height: 100px;
}

.profileInfo {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 80px 120px 30px 30px 70px;
  gap: 5px;
  max-width: 360px;
  width: 100%;
}
.profileInfo .profileName {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}
.profileInfo .profileName .mainName {
  grid-column: 1/2;
  grid-row: 1/2;
  font-weight: bolder;
  font-size: 2rem;
}
.profileInfo .profileName .secondName {
  grid-column: 1/2;
  grid-row: 2/3;
}
.profileInfo .profileName .button {
  grid-column: 2/3;
  grid-row: 1/3;
  width: 70px;
  padding: 10px;
  transition: transform 0.3s, scale 0.3s;
}
.profileInfo .profileName .button:hover {
  transform: translateY(-5px) scale(1.1);
}
.profileInfo .description {
  margin-top: 10px;
  padding-left: 10px;
  text-align: start;
  grid-column: 1/3;
}
.profileInfo .memberLink {
  padding-left: 10px;
  grid-row: 3/4;
}
.profileInfo .joinedMember {
  grid-row: 4/5;
  grid-column: 1/3;
  padding-left: 10px;
  font-size: 0.8rem;
}
.profileInfo .joinedMember img {
  margin-right: 5px;
}
.profileInfo .followsInfo {
  margin-left: 15px;
  margin-bottom: 20px;
  grid-row: 5/6;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 30px 1fr 30px 1fr;
}
.profileInfo .followsInfo .bolded {
  font-weight: bolder;
}

.entriesHeader {
  border-bottom: 1px solid #FF3D7B;
  text-align: center;
  font-weight: bolder;
}

.profContainer {
  grid-template-rows: 50px auto 150px 40px;
}

/*# sourceMappingURL=style.css.map */
